@charset "utf-8";

/*------------------*/
/*-- Fonts --*/
/*------------------*/

@font-face {
    font-family: "ADomInoBold";
    src: url("fonts/ADomInoBold.eot");
    src: url("fonts/ADomInoBold.eot?#iefix") format("embedded-opentype"),
        url("fonts/ADomInoBold.woff2") format("woff2"),
        url("fonts/ADomInoBold.woff") format("woff"),
        url("fonts/ADomInoBold.ttf") format("truetype"),
        url("fonts/ADomInoBold.svg#ADomInoBold") format("svg");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Gotham Pro";
    src: url("fonts/GothamPro-Light.eot");
    src: url("fonts/GothamPro-Light.eot?#iefix") format("embedded-opentype"),
        url("fonts/GothamPro-Light.woff2") format("woff2"),
        url("fonts/GothamPro-Light.woff") format("woff"),
        url("fonts/GothamPro-Light.ttf") format("truetype"),
        url("fonts/GothamPro-Light.svg#fonts/GothamPro-Light") format("svg");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Gotham Pro";
    src: url("fonts/GothamPro-Black.eot");
    src: url("fonts/GothamPro-Black.eot?#iefix") format("embedded-opentype"),
        url("fonts/GothamPro-Black.woff2") format("woff2"),
        url("fonts/GothamPro-Black.woff") format("woff"),
        url("fonts/GothamPro-Black.ttf") format("truetype"),
        url("fonts/GothamPro-Black.svg#fonts/GothamPro-Black") format("svg");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Gotham Pro";
    src: url("fonts/GothamPro-Medium.eot");
    src: url("fonts/GothamPro-Medium.eot?#iefix") format("embedded-opentype"),
        url("fonts/GothamPro-Medium.woff2") format("woff2"),
        url("fonts/GothamPro-Medium.woff") format("woff"),
        url("fonts/GothamPro-Medium.ttf") format("truetype"),
        url("fonts/GothamPro-Medium.svg#fonts/GothamPro-Medium") format("svg");
    font-weight: 500;
    font-style: normal;
}

/*-------------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
}

html,
body {
    min-height: 100%;
    min-width: 100%;
    height: 100%;
    font-family: "Gotham Pro";
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    color: #435869;
}

body {
    background: #ffffff;
}

.wrapper {
    position: relative;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    min-height: 100%;
    min-height: 100vh;
}

header {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

.content {
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

::-webkit-input-placeholder {color:#555555;}
::-moz-placeholder          {color:#555555;}
:-moz-placeholder           {color:#555555;}
:-ms-input-placeholder      {color:#555555;}

input,
textarea,
button,
select,
a,
img {
    outline: none;
}

select {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance;
    text-indent: 0.01px;
    text-overflow: "";
}

*::-ms-expand { display: none; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input {
    -webkit-appearance: none;
    -moz-appearance
}

button {
    -webkit-appearance: none;
    -moz-appearance
}

textarea {
    resize: none;
    overflow: auto;
    -webkit-appearance: none;
    -moz-appearance;
}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}

textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
textarea::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
textarea:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
textarea:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}


/*-------------------------------------------*/
/* ----- DEFAULT STYLES ------ */
/*-------------------------------------------*/

section {
    position: relative;
    padding: 20px 0;
}

h1 {
    font-family: "ADomInoBold";
    font-size: 60px;
    line-height: 1.25;
    color: #9fca00;
    font-weight: bold;
    text-transform: uppercase;    
}

h2 {
    font-family: "ADomInoBold";
    font-size: 70px;
    line-height: 1.25;
    color: #9fca00;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase; 
}

h3 {
    font-family: "Gotham Pro";
    font-size: 30px;
    line-height: 1.2;
    color: #9fca00;
    font-weight: 500;
    text-transform: uppercase;
}

h4 {
    font-family: "Gotham Pro";
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    color: #435869;
}

p {
    font-family: "Gotham Pro";
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    color: #435869;
}

a {
    text-decoration: none;
    font-family: "Gotham Pro";
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    color: #435869;
}

li {
    list-style: none;
    font-family: "Gotham Pro";
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    color: #435869;
}

img {
    outline: none;
    border: 1px solid transparent;
    border: none;
}

button:hover,
button:active,
a:hover,
a:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
}

input {

}

input:focus {

}

textarea {

}

textarea:focus {

}

/*-------------------------------------------*/
/* ----- REUSABLE COMPONENTS ------ */
/*-------------------------------------------*/

.row {
    max-width: 1280px;
    margin: 0 auto;
}

.overflow_wrapp {
    overflow: hidden;
}

.align_center {
    text-align: center;
}

.align_right {
    text-align: right;
}

.align_left {
    text-align: left;
}

/*-- Slick --*/

.slick-arrow {
    display: block;
    width: 75px;
    height: 75px;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    top: 50%;
    opacity: .6;
    margin-top: -40px;
    background: #ffffff;
    border: 1px solid transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .5);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .5);
    -webkit-transition-property: box-shadow, opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: box-shadow, opacity;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: box-shadow, opacity;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: box-shadow, opacity;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: box-shadow, opacity;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.slick-arrow:hover {
    opacity: 1;
    -webkit-box-shadow: 0 1px 12px 0 rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 1px 12px 0 rgba(0, 0, 0, .5);
    box-shadow: 0 1px 12px 0 rgba(0, 0, 0, .5);
}

.slick-arrow img {
    display: block;
    width: 36px;
    height: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.slick-prev {
    left: -21px;
}

.slick-prev img {
    left: -2px;
}

.slick-next {
    right: -21px;
}

.slick-next img {
    right: -6px;
}

.slick-dots {
    text-align: center;
}

.slick-dots li {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin: 4px;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    width: 16px;
    height: 16px;
    cursor: pointer;
    background: transparent;
    position: relative;
    border: 2px solid #006df0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.slick-dots li.slick-active button {
    background: #006df0;
}

/*-- /Slick --*/

/*-------------------------------------------*/
/* ----- HEADER ------ */
/*-------------------------------------------*/

.header_row {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    position: relative;
    z-index: 2;
}

.header_row .left_col {
    width: calc(100% - 430px);
    padding-right: 10px;
    /*outline: 1px solid red;*/
}

.header_row .right_col {
    width: 430px;
    padding-left: 10px;
    /*outline: 1px solid red;*/
}

.logo_wrapp {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.logo_wrapp .col:nth-child(1) {
    width: 120px;
    height: 180px;
    padding-right: 5px;
}

.logo_wrapp .col:nth-child(2) {
    width: 350px;
    padding: 8px 5px;
    position: relative;
    z-index: 2;
    /*outline: 1px solid red;*/
    text-align: right;
}

.logo_wrapp .col:nth-child(3) {
    width: calc(100% - 470px);
    padding: 17px 0 10px 3%;
}

.logo_img_wrapp {
  width: 253px;
  height: 211px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: -0.968px 3.881px 27.3px 2.7px rgba(67, 80, 92, .1);
  -moz-box-shadow: -0.968px 3.881px 27.3px 2.7px rgba(67, 80, 92, .1);
  box-shadow: -0.968px 3.881px 27.3px 2.7px rgba(67, 80, 92, .1);
  position: relative;
  top: -46px;
}

.logo {
    width: 142px;
    position: absolute;
    top: 55px;
    left: -1px;
}

.logo_text {
    display: inline-block;
    vertical-align: top;
}

.logo_wrapp .col:nth-child(3) p {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 30px;
    color: #009df9;
    font-weight: 500;
}

.contacts {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.contacts li {
    padding: 3px;
}

.contacts li a {
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
}

.contacts li a img {
    display: block;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.tel_wrapp {

}

.tel_link {
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    font-size: 18px;
    color: #435869;
    font-weight: 500;
}

.blue_link {
    font-size: 18px;
    font-size: 18px;
    color: #009df9;
    font-weight: 500;
    border-bottom: 1px dashed #009df9;
}

.contacts_wrapp {
    display: flex;
    display: -webkit-flex;
    margin: 16px 0;
}

.contacts_wrapp .col:nth-child(1) {
    width: calc(100% - 305px);
}

.contacts_wrapp .col:nth-child(2) {
    width: 185px;
}

.contacts_wrapp .col:nth-child(3) {
    width: 120px;
}

.main_nav_wrapp {
    margin-top: -85px;
    padding-left: 110px;
}

.main_nav {
    display: flex;
    display: -webkit-flex;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius: 32px;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: -0.968px 3.881px 27.3px 2.7px rgba(67, 80, 92, .1);
    -moz-box-shadow: -0.968px 3.881px 27.3px 2.7px rgba(67, 80, 92, .1);
    box-shadow: -0.968px 3.881px 27.3px 2.7px rgba(67, 80, 92, .1);
}

.main_nav li {
    display: inline-block;
    vertical-align: top;
    padding: 17px 4%;
}

.main_nav li a {
    text-align: center;
    font-size: 22px;
    font-size: 22px;
    color: #435869;
    font-weight: 500;
    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.main_nav li a:link,
.main_nav li a:visited {
    color: #435869;
}

.main_nav li a:active,
.main_nav li a.active {
    color: #ff0247;
}

.main_nav li a:hover {
    color: #ff0247;
}

/* ----- Responsive Menu Button ------ */

.respmenubtn {
    /*display: inline-block;*/
    display: none;
    vertical-align: top;
    width: 45px;
    height: 37px;
    background: transparent;
    cursor: pointer;
    position: relative;
    top: 6px;
    z-index: 11;
    border: 1px solid transparent;
}

.respmenubtn span {
    display: block;
    width: 27px;
    height: 2px;
    background: #466896;
    margin: 0 auto 7px auto;
    -webkit-transition-property: transform, border, background;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: transform, border, background;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: transform, border, background;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: transform, border, background;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: transform, border, background;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.respmenubtn span:last-child {
    margin: 0 auto;
}

.respmenubtn:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
}

.respmenubtn:hover span {
    background: #e9ba5f;
}

.respmenubtn.active span {
    position: relative;
    width: 35px;
    top: 2px;
    left: 0;
    background: #e9ba5f;
}

.respmenubtn.active span:last-child {
    display: none;
}

.respmenubtn.active span:first-child {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: 3px 0 0 0;
    position: relative;
    top: 4px;
    left: 5px;
}

.respmenubtn.active span:nth-child(2) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* ----- / Responsive Menu Button ------ */

/*-------------------------------------------*/
/* ----- CONTENT ------ */
/*-------------------------------------------*/

/*-- Section 1 - Main Page --*/

.promo_box {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.promo_box .left_col {
    width: 835px;
}

.promo_box .right_col {
    width: calc(100% - 835px);
}

.promo_box h1 {
    max-width: 620px;
}

.promo_descript {
    margin: 25px 0;
    padding: 42px 40px 68px 40px;
    -webkit-border-radius: 116px;
    -moz-border-radius: 116px;
    border-radius: 116px;
    position: relative;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: inset 0 3px 24px 0 rgba(53, 67, 87, .16);
    -moz-box-shadow: inset 0 3px 24px 0 rgba(53, 67, 87, .16);
    box-shadow: inset 0 3px 24px 0 rgba(53, 67, 87, .16);
}

.promo_descript p {
    font-size: 24px;
    line-height: 36px;
    font-weight: 300;
    color: #435869;
}

.yellow_pill {
    display: inline-block;
    vertical-align: top;
    min-width: 410px;
    padding: 25px 25px 21px 25px;
    border: none;
    -webkit-border-radius: 36px;
    -moz-border-radius: 36px;
    border-radius: 36px;
    background-color: #fcea00;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    color: #435869;
}

.promo_descript .yellow_pill {
    position: absolute;
    bottom: -31px;
    left: 40px;
}

.times_thumbs {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    margin: 0 -20px;
}

.time_thumb {
    width: calc(33.33% - 40px);
    margin: 20px 20px 60px 20px;
    text-align: center;
    position: relative;
}

.time_thumb .inner {
    padding: 8px 0 49px 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: -0.968px 3.881px 36.4px 3.6px rgba(67, 80, 92, .15);
    -moz-box-shadow: -0.968px 3.881px 36.4px 3.6px rgba(67, 80, 92, .15);
    box-shadow: -0.968px 3.881px 36.4px 3.6px rgba(67, 80, 92, .15);
    position: relative;
    z-index: 2;
}

.time_thumb .inner_row {
    padding: 12px 10px;
    border-bottom: 1px solid #e8e8e8;
}

.time_thumb .inner_row:last-child {
    border-bottom: none;
}

.time_thumb h3 {
    display: block;
    height: 50px;
    font-size: 60px;
    line-height: 60px;
    font-weight: 900;
    color: #cdeefd;
}

.time_thumb h4 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
    color: #009df9;
}

.time_thumb p {
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    color: #435869;
}

.time_thumb .yellow_pill {
    width: 100%;
    max-width: 350px;
    min-width: auto;
    position: absolute;
    bottom: -38px;
    left: 50%;
    z-index: 2;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.sect_box_title {
    text-align: center;
}

.program_thumbs {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.program_thumb {
    width: 25%;
    padding: 10px 15px;
    text-align: center;
}

.num_box {
    width: 70px;
    height: 70px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #fceb00;
    text-align: center;
}

.num_box p {
    font-size: 50px !important;
    line-height: 70px !important;
    font-weight: 900 !important;
    color: #ffffff !important;
}

.program_thumb .num_box {
    margin: 20px auto;
}

.program_thumb h3 {
    padding: 2px 0;
    text-transform: none;
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
    color: #009df9;
}

.program_thumb p {
    padding: 2px 0;
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    color: #435869;
}

.info_box {
    margin: 20px 0;
    padding: 8px 0 12px 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: -0.968px 3.881px 36.4px 3.6px rgba(67, 80, 92, .15);
    -moz-box-shadow: -0.968px 3.881px 36.4px 3.6px rgba(67, 80, 92, .15);
    box-shadow: -0.968px 3.881px 36.4px 3.6px rgba(67, 80, 92, .15);
    text-align: center;
}

.info_box .inner_row {
    padding: 12px 10px;
    border-bottom: 1px solid #e8e8e8;
}

.info_box h3 {
    text-transform: none;
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
    color: #009df9;
}

.info_box p {
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    color: #435869;
}

.info_box .inner_row:last-child {
    border-bottom: none;
}

.thumbnails_1 {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    margin: 0 -15px;
}

.thumb_1 {
    width: 25%;
    padding: 20px 15px;
    text-align: center;
}

.thumbnails_1 .thumb_1 {
    width: 25%;
}

.thumb_1 h3 {
    text-transform: none;
    font-size: 24px;
    line-height: 33px;
    font-weight: bold;
    color: #435869;
}

.thumb_1 p {
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    color: #435869;
}

.button_wrapp {
    text-align: center;
}

.article_2 {

}

.article_2 h2 {

}

.article_2_desc {
    margin: 25px 0;
    padding: 23px 30px 25px 30px;
    -webkit-border-radius: 116px;
    -moz-border-radius: 116px;
    border-radius: 116px;
    position: relative;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: inset 0 3px 24px 0 rgba(53, 67, 87, .16);
    -moz-box-shadow: inset 0 3px 24px 0 rgba(53, 67, 87, .16);
    box-shadow: inset 0 3px 24px 0 rgba(53, 67, 87, .16);
}

.article_2_desc p {
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    color: #435869;
}

.item_thumb {
    display: flex;
    display: -webkit-flex;
    margin: 20px 0;
}

.item_thumb .item_col:nth-child(1) {
    width: 135px;
}

.item_thumb .item_col:nth-child(2) {
    width: calc(100% - 135px);
}

.item_thumb h3 {
    font-size: 24px;
    line-height: 35px;
    font-weight: 500;
    color: #009df9;
}

.item_thumb p {
    font-size: 18px;
    line-height: 23px;
    font-weight: 300;
    color: #435869;
}


/*-- /Section 1 - Main Page --*/

/*-------------------------------------------*/
/* ----- FOOTER ------ */
/*-------------------------------------------*/

footer {
    padding: 1px 0;
}